.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    /* border: 2px solid black; */
  }
  
  h1, h2, h3 {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  